/*------------------------*/
.requirement-detail-container {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.requirement-detail-description {

}

.requirement-detail-btn-save {
    margin-top: 10px;
}

.requirement-detail-modelrawmermaid {
    margin-top: 10px;
}

.requirement-detail-context-select {
    width: 80%;
}
