<div class="requirement-detail-container">
    <H1>{{ ProjectName }} -> {{ title }}</H1>
    <p-divider />
    <p-toolbar>
        <ng-template #start>
            <requirement-detail-cmd-analyze [Description]="RequirementDescription" (AnalyzedResult) ="OnAnalyzedResult($event)"></requirement-detail-cmd-analyze>
        </ng-template>
    </p-toolbar>
    <div class="card">
        <div class="requirement-detail-description">
            <textarea rows="5"
                      cols="30"
                      pTextarea
                      name="requirementnewdescription"
                      [(ngModel)]="RequirementDescription"
                      placeholder="Requirement Description"
                      fluid></textarea>
        </div>

        <div #mermaidContainer class="mermaid-target"></div>

        <div class="requirement-detail-analyzed">
            <textarea rows="10"
                      cols="30"
                      pTextarea
                      name="requirementanalyzed"
                      [(ngModel)]="AnalyzedResult"
                      placeholder="AI Raw Output"
                      [disabled]="true"
                      fluid></textarea>
        </div>
    </div>
</div>
