<div class="requirement-detail-container">
    <H1>{{ ProjectName }} -> {{ title }}</H1>
    <p-divider />
    <p-toolbar>
        <ng-template #start>
            <requirement-detail-cmd-analyze [Description]="RequirementDescription" (AnalyzedResult) ="OnAnalyzedResult($event)"></requirement-detail-cmd-analyze>
            <requirement-detail-cmd-save [Description]="RequirementDescription" [ProjectId]="ProjectId" [RequirementId]="RequirementId" ></requirement-detail-cmd-save>
        </ng-template>
    </p-toolbar>
    <div class="card">
        <div class="requirement-detail-description">
            <textarea rows="5"
                      cols="30"
                      pTextarea
                      name="requirementnewdescription"
                      [(ngModel)]="RequirementDescription"
                      placeholder="Requirement Description"
                      fluid></textarea>
        </div>

        <div #mermaidContainer class="mermaid-target"></div>

        <div class="card">
            <p-tabs value="0" (valueChange)="OnModelTabClick($event)">
                <p-tablist>
                    @for (model of AnalyzedResult.businessModels; track model.name) {
                    <p-tab [value]="model.name">{{ model.name }}</p-tab>
                    }
                </p-tablist>
                <p-tabpanels>
                    @for (model of AnalyzedResult.businessModels; track model.name; let i = $index) {
                    <p-tabpanel [value]="model.name">
                        <div class="flex justify-start items-center gap-4">
                            <label pLabel for="context">Context</label>
                            <p-select [options]="Contexts" (ngModel)="CurrentContextName" placeholder="Select/Create a Conext" [editable]="true" optionLabel="name" optionValue="id" class="requirement-detail-context-select" />
                            <button pButton (click)="OnCreateContext()">Create</button>
                        </div>
                        <div class="flex flex-wrap items-stretch gap-4 requirement-detail-modelrawmermaid">
                            <textarea rows="10"
                                      cols="60"
                                      pTextarea
                                      name="modelrawmermaid"
                                      [(ngModel)]="ModelMermaidRaws[i]"
                                      placeholder="AI Raw Output"
                                      (ngModelChange)="OnAnalyzedResultChange($event)"
                                      fluid>
                            </textarea>
                        </div>
                        <div class="flex flex-wrap requirement-detail-btn-save">
                            <button pButton (click)="SaveModel()">Save</button>
                        </div>
                    </p-tabpanel>
                    }
                </p-tabpanels>
            </p-tabs>
        </div>

        <p-divider />
        <div class="requirement-detail-analyzed">
            <textarea rows="10"
                      cols="30"
                      pTextarea
                      name="requirementanalyzed"
                      [(ngModel)]="AnalyzedResult.raw"
                      placeholder="AI Raw Output"
                      (ngModelChange)="OnAnalyzedResultChange($event)"
                      fluid></textarea>
        </div>
    </div>
</div>
