<div class="requirement-list-container">
    <H1>{{ title }}</H1>
    <p-divider />
    @if (Requirements()){
    <div class="card">
        <p-toolbar>
            <ng-template #start>

            </ng-template>
        </p-toolbar>
        <p-table #RequirementTable
                 [value]="Requirements()"
                 dataKey="id"
                 [rows]="10"
                 [rowsPerPageOptions]="[10, 25, 50]"
                 [loading]="IsLoading"
                 [paginator]="true"
                 sortMode="single"
                 sortField="createdOnUTC"
                 [sortOrder]="-1"
                 [globalFilterFields]="['title', 'description']"
                 [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template #caption>
                <div class="flex">
                    <p-iconfield iconPosition="left" class="ml-auto">
                        <p-inputicon>
                            <i class="pi pi-search"></i>
                        </p-inputicon>
                        <input pInputText type="text" (input)="RequirementTable.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
                    </p-iconfield>
                </div>
            </ng-template>

            <ng-template #header>
                <tr>
                    <th style="width:1%"><p-tableHeaderCheckbox /></th>
                    <th style="width:22%">Title</th>
                    <th style="width:22%">Description</th>
                    <th style="width:22%">Created On (UTC)</th>
                </tr>
            </ng-template>
            <ng-template #body let-requirement>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="requirement" />
                    </td>
                    <td>
                        {{ requirement.title }}
                    </td>
                    <td>
                        {{ requirement.description }}
                    </td>
                    <td>
                        {{ requirement.createdOnUTC | date:'medium' }}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    }
</div>
