/*------------------------*/

.dialog-new-project-input {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dialog-new-project-description {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: dashed;
}

.dialog-new-project-sec-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.dialog-new-project-button {
    margin-left: 10px;
}
